.container {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 $main-spacing;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.app--contact-method {
    margin: $main-spacing/2 0;
}
